.idea/
tigase-muc.iml
.settings
target
init.properties
.classpath
.project
/certs
/etc
/logs
/scripts
/init-muc.properties
derby.log
/docs/

src/main/restructure/locale/*/LC_MESSAGES/*.mo
src/main/restructure/_build/