Source: tigase-muc
Section: net
Priority: extra
Maintainer: Tomasz Sterna <tomek@xiaoka.com>
Build-Depends: cdbs, debhelper (>= 5), sun-java6-jdk, maven2
Standards-Version: 3.7.2

Package: tigase-muc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi User Chat component for Tigase.
